<%= link_to 'Contentr Admin', contentr_admin_pages_path(), class: "brand" %>
<div class="nav-collapse">
  <ul class="nav">
    <li><%= link_to 'Pages', contentr_admin_pages_path() %></li>
    <li><%= link_to 'Files', contentr_admin_files_path() %></li>
  </ul>
</div><!--/.nav-collapse -->
