.DS_Store
.bundle
.sass-cache
Gemfile.lock
tmp
spec/dummy/log/*.log
spec/dummy/tmp/**/*
spec/dummy/db/*.sqlite3
spec/dummy/public/assets
spec/dumm/public/*
spec/dummy/public/contentr_file_uploads/*
.rake_tasks~
