- contentr_title t('.content_blocks')
- contentr_buttons([{text: t('.add_content_blocks'), target: contentr.new_admin_content_block_path, icon: 'plus-circle', class: 'btn btn-primary'}])

= table_for Contentr::ContentBlock, paginate: true, counter_position: :bottom
