.grid_6.left
  %h3.title= MmCms.site_name
.grid_6.right
  = image_tag avatar_url(:email => 'rene.sprotte@provideal.net', :size => 20), :class => 'avatar'
  %span.username René Sprotte
  %span.action.settings= link_to 'Settings', '#'
  %span.action.logout= link_to 'Logout', '#'
