@import "bootstrap";
@import "contentr";
#page-manager {

  .container {}

  .toolbar {
    padding: 10px;
    background-color: #f3f3f3;
    height: 25px;

    .button {
      padding: 4px;
      border-radius: 4px;
      background-color: #333;
      text-decoration: none;
      color: #fff;
      float: left;
      position: relative;
    }

    .header-link{
      margin-left: 10px;
    }
  }

  .notice {
    background-color: #e3e684;
    padding: 20px;
    text-align: center;
    color: #000;
  }

  .pagegrid {
    $padding: 8px;

    width: 100%;
    border-collapse: collapse;

    th { font-weight: bold; }
    td, th { padding: $padding; }
    td {
      border: 1px solid #ccc;
      position: relative;
      vertical-align: middle;
      overflow: visible;
      text-align: center;

      &.published { width: 80px; }
      &.hidden { width: 80px; }
      &.template { width: 120px; }
      &.layout { width: 120px; }
    }
    li{
      list-style-type: none;
    }

    tbody tr {
      overflow: visible;

      &.highlight { background-color: #f3f3f3; }
      &.dummy-page-row { display: none; }

      .containr {
        position: relative;

        .tools {
          display: none;
          position: absolute;
          right: -$padding;
          top: -$padding + 2px;
          background-color: rgba(0, 0, 0, 0.8);
          color: #fff;
          padding: 3px 3px;
          border-radius: 6px 0 0 6px;
          font-size: 80%;
          
          ul { list-style-type: none; margin-left: 0px; }

          li {
            float: left;
            margin-right: 6px;

            &:last-child { margin-right: 0; }
            &:after { content: ' | '; }
            &:last-child:after { content: ''; }
            &.tool.move-end { display: none; }

            a {
              color: #fff; text-decoration: none;
              &:hover { text-decoration: underline; }
            }
          }
        }
      }
    }

    #ghost {
      display: none;
      width: auto;
      padding: 4px 8px;
      border-radius: 4px;
      font-size: smaller;
      background-color: green;
      position: absolute;
      color: white;
      opacity: 0.7;
    }
  }
}

div.cur_path{
  position: relative;
  float: left;
  background-image: linear-gradient(bottom, rgb(98,196,183) 39%, rgb(81,212,203) 70%, rgb(69,209,209) 85%);
  background-image: -o-linear-gradient(bottom, rgb(98,196,183) 39%, rgb(81,212,203) 70%, rgb(69,209,209) 85%);
  background-image: -moz-linear-gradient(bottom, rgb(98,196,183) 39%, rgb(81,212,203) 70%, rgb(69,209,209) 85%);
  background-image: -webkit-linear-gradient(bottom, rgb(98,196,183) 39%, rgb(81,212,203) 70%, rgb(69,209,209) 85%);
  background-image: -ms-linear-gradient(bottom, rgb(98,196,183) 39%, rgb(81,212,203) 70%, rgb(69,209,209) 85%);

  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.39, rgb(98,196,183)),
    color-stop(0.7, rgb(81,212,203)),
    color-stop(0.85, rgb(69,209,209))
  );
  padding: 4px;
  border-radius: 4px;
  background-color: #333;
  text-decoration: none;
  color: white;
  margin-left: 10px;
}

.btn-mini{
  margin-left: 10px;
}

