@import "bootstrap/variables";
@import "contentr";
@import "contentr/admin/_node_tree";

.existing-paragraphs {
  .handle{
    display: inline-block;
    padding-left: 3px;
    padding-right: 3px;
    cursor: move;
  }
}

.btn-mini{
  margin-left: 10px;
}
.list-group-item.unsortable .page-title{
  padding-left: 18px;
}

.list-group-item.sortable .page-title span{
  margin-left: 5px;
}

ul.tree{
  li > a{
    margin: 0 5px;
  }
}

#contentr-areas-accordion{
  .panel-body{
    padding: 15px;
  }
}
