@import 'reset';

$margin: 15px;

html { overflow-x: hidden; }

body { font: 13px/18px "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif; background-color: transparent; color: #333; -webkit-font-smoothing: antialiased; }
body { color: #666; margin: 0; padding: 0; }

h1 { font-size: 22px; background-color: #0065a0; padding: 8px; margin-bottom: $margin; color: #fefefe; }

#page-manager {

  .toolbar {
    padding: 10px;
    background-color: #f3f3f3;

    .button {
      padding: 4px;
      border-radius: 4px;
      background-color: #333;
      text-decoration: none;
      color: #fff;
    }
  }

  .notice {
    background-color: #e3e684;
    padding: 20px;
    text-align: center;
    color: #000;
  }

  .pagegrid {
    $padding: 8px;

    width: 100%;
    border-collapse: collapse;

    th { font-weight: bold; }
    td, th { padding: $padding; }
    td {
      border: 1px solid #ccc;
      position: relative;
      vertical-align: middle;
      overflow: visible;

      &.icon { width: 25px; }
      &.name { width: 300px; }
      &.published { width: 80px; }
      &.hidden { width: 80px; }
      &.template { width: 120px; }
      &.layout { width: 120px; }
    }

    tbody tr {
      overflow: visible;

      &.highlight { background-color: #f3f3f3; }
      &.dummy-page-row { display: none; }

      .container {
        position: relative;

        .tools {
          display: none;
          position: absolute;
          right: -$padding;
          top: -$padding + 2px;
          background-color: rgba(0, 0, 0, 0.8);
          color: #fff;
          padding: 6px 3px;
          border-radius: 6px 0 0 6px;

          li {
            float: left;
            margin-right: 6px;

            &:last-child { margin-right: 0; }
            &:after { content: ' | '; }
            &:last-child:after { content: ''; }
            &.tool.move-end { display: none; }

            a {
              color: #fff; text-decoration: none;
              &:hover { text-decoration: underline; }
            }
          }
        }
      }
    }

    #ghost {
      display: none;
      width: auto;
      padding: 4px 8px;
      border-radius: 4px;
      font-size: smaller;
      background-color: green;
      position: absolute;
      color: white;
      opacity: 0.7;
    }
  }
}

/* simple form */

.simple_form {

  $left-margin: 120px;

  label {
    float: left;
    width: 100px;
    text-align: right;
    margin: 2px 10px;
  }

  div.input {
    margin-bottom: 10px;
  }

  div.boolean,
  input[type='submit'] {
    margin-left: $left-margin;
  }

  div.boolean label, label.collection_radio {
    float: none;
    margin: 0;
  }

  label.collection_radio {
    margin-right: 10px;
    margin-left: 2px;
  }

  .error {
    clear: left;
    margin-left: $left-margin;
    color: #D00;
    display: block;
  }

  .hint {
    clear: left;
    margin-left: $left-margin;
    color: #555;
    display: block;
    font-style: italic;
  }
}