@mixin box_shadow($hoffset: 0px, $voffset: 1px, $blur: 2px, $color: #999, $inset: false) {
  @if $inset == true {
    -webkit-box-shadow: inset $hoffset $voffset $blur $color;
    -moz-box-shadow: inset $hoffset $voffset $blur $color;
    box-shadow: inset $hoffset $voffset $blur $color;
  } @else {
    -webkit-box-shadow: $hoffset $voffset $blur $color;
    -moz-box-shadow: $hoffset $voffset $blur $color;
    box-shadow: $hoffset $voffset $blur $color;
  }
}

@mixin border_radius($radius_tl: 8px, $radius_tr: $radius_tl, $radius_br: $radius_tl, $radius_bl: $radius_tl) {
  -webkit-border-top-left-radius: $radius_tl;
  -webkit-border-top-right-radius: $radius_tr;
  -webkit-border-bottom-right-radius: $radius_br;
  -webkit-border-bottom-left-radius: $radius_bl;

  -moz-border-radius-topleft: $radius_tl;
  -moz-border-radius-topright: $radius_tr;
  -moz-border-radius-bottomright: $radius_br;
  -moz-border-radius-bottomleft: $radius_bl;

  border-top-left-radius: $radius_tl;
  border-top-right-radius: $radius_tr;
  border-bottom-right-radius: $radius_br;
  border-bottom-left-radius: $radius_bl;
}

@mixin text_shadow($color: #777, $hoffset: 1px, $voffset: 1px, $blur: 2px) {
  text-shadow: $color $hoffset $voffset $blur;
}

@mixin gradient($fcolor, $tcolor, $s1: 0%, $s2: 100%) {
  background-color: $fcolor;
  background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      color-stop($s1, $fcolor),
      color-stop($s2, $tcolor)
  );
  background-image: -moz-linear-gradient(
      top bottom,
      $fcolor $s1,
      $tcolor $s2
  );
  filter: progid:DXImageTransform.Microsoft.gradient(
    startColorstr='$fcolor',
    endColorstr='$tcolor'
  );
}