.jstree-mmcms > ul { background-color: transparent; font-size: 12px !important; text-shadow:1px 1px 1px silver; }
.jstree-mmcms li,
.jstree-mmcms ins { background-image:url("/images/mm_cms/admin/pagetree/d.png"); background-repeat:no-repeat; background-color:transparent; width: 12px; }
.jstree-mmcms li { background-position:-90px 0; background-repeat:repeat-y;  }
.jstree-mmcms li.jstree-last { background:transparent; }
.jstree-mmcms .jstree-open > ins { background-position:-72px 0; }
.jstree-mmcms .jstree-closed > ins { background-position:-54px 0; }
.jstree-mmcms .jstree-leaf > ins { background-position:-36px 0; }

.jstree-mmcms a { height: 20px; }
.jstree-mmcms a .jstree-icon { background-position:-56px -20px; }

.jstree-mmcms .jstree-no-dots li,
.jstree-mmcms .jstree-no-dots .jstree-leaf > ins { background:transparent; }
.jstree-mmcms .jstree-no-dots .jstree-open > ins { background-position:-18px 0; }
.jstree-mmcms .jstree-no-dots .jstree-closed > ins { background-position:0 0; }


.jstree-mmcms a.jstree-loading .jstree-icon { background:url("/images/mm_cms/admin/pagetree/throbber.gif") center center no-repeat !important; }

.jstree-mmcms .jstree-hovered { }
.jstree-mmcms .jstree-clicked { }

.jstree-mmcms.jstree-focused { background: transparent; }


.jstree-mmcms .jstree-no-icons a .jstree-icon { display:none; }

.jstree-mmcms .jstree-search { font-style:italic; }

.jstree-mmcms .jstree-no-icons .jstree-checkbox { display:inline-block; }
.jstree-mmcms .jstree-no-checkboxes .jstree-checkbox { display:none !important; }
.jstree-mmcms .jstree-checked > a > .jstree-checkbox { background-position:-38px -19px; }
.jstree-mmcms .jstree-unchecked > a > .jstree-checkbox { background-position:-2px -19px; }
.jstree-mmcms .jstree-undetermined > a > .jstree-checkbox { background-position:-20px -19px; }
.jstree-mmcms .jstree-checked > a > .checkbox:hover { background-position:-38px -37px; }
.jstree-mmcms .jstree-unchecked > a > .jstree-checkbox:hover { background-position:-2px -37px; }
.jstree-mmcms .jstree-undetermined > a > .jstree-checkbox:hover { background-position:-20px -37px; }

#vakata-dragged.jstree-mmcms ins { background:transparent !important; }
#vakata-dragged.jstree-mmcms .jstree-ok { background:url("/images/mm_cms/admin/pagetree/d.png") -2px -53px no-repeat !important; }
#vakata-dragged.jstree-mmcms .jstree-invalid { background:url("/images/mm_cms/admin/pagetree/d.png") -18px -53px no-repeat !important; }
#jstree-marker.jstree-mmcms { background:url("/images/mm_cms/admin/pagetree/d.png") -41px -57px no-repeat !important; }

.jstree-mmcms a.jstree-search { color:aqua; }

#vakata-contextmenu.jstree-mmcms-context,
#vakata-contextmenu.jstree-mmcms-context li ul { background:#f0f0f0; border:1px solid #979797; -moz-box-shadow: 1px 1px 2px #999; -webkit-box-shadow: 1px 1px 2px #999; box-shadow: 1px 1px 2px #999; }
#vakata-contextmenu.jstree-mmcms-context li { }
#vakata-contextmenu.jstree-mmcms-context a { color:black; }
#vakata-contextmenu.jstree-mmcms-context a:hover,
#vakata-contextmenu.jstree-mmcms-context .vakata-hover > a { padding:0 5px; background:#e8eff7; border:1px solid #aecff7; color:black; -moz-border-radius:2px; -webkit-border-radius:2px; border-radius:2px; }
#vakata-contextmenu.jstree-mmcms-context li.jstree-contextmenu-disabled a,
#vakata-contextmenu.jstree-mmcms-context li.jstree-contextmenu-disabled a:hover { color:silver; background:transparent; border:0; padding:1px 4px; }
#vakata-contextmenu.jstree-mmcms-context li.vakata-separator { background:white; border-top:1px solid #e0e0e0; margin:0; }
#vakata-contextmenu.jstree-mmcms-context li ul { margin-left:-4px; }

