<h1>Articles</h1>

<%#= contentr_area('body') %>

<ul>
<% @articles.each do |a| %>
  <li>
    <strong><%= link_to a.title, article_url(a) %></strong><br/>
    <div><%= a.body %></div>
  </li>
<% end %>
</ul>

<%= link_to 'Create a new article', new_article_url %>