-# coding: utf-8
!!! 5
%html
  %head
    %title CMS Admin
    = stylesheet_link_tag('mm_cms/admin/base')
    = javascript_include_tag('mm_cms/admin/jquery.min')
    = csrf_meta_tag
  %body
    #content= yield

