- contentr_title t('.menus')
- contentr_buttons([{text: t('.new_menu'), target: contentr.new_admin_menu_path, icon: 'plus', class: 'btn btn-primary'}])

= table_for Contentr::Menu, paginate: true, counter_position: :bottom
