$contentr-toolbar-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$contentr-toolbar-font-size: 11px !default;
$contentr-toolbar-line-height: 15px !default;
$contentr-toolbar-background-color: #0065A0 !default;
$contentr-toolbar-color: #fff !default;

#contentr-edit-button,
#contentr-show-button {
  opacity: .8;
  z-index: 10;

  &:hover {
    opacity: 1;
  }
}

.btn-frontend {
  margin-bottom: $line-height-computed;
  background-color: $brand-primary;
  color: #fff;
  border-color: $brand-primary;
  position: relative;
  z-index: 200;
  &:hover {
    color: #fff;
    background-color: lighten($brand-primary, 10%);
    border-color: lighten($brand-primary, 10%);
  };
}

#contentr-edit-modal {
  .modal-dialog {
    width: 80%;
  }

  select#choose-paragraph-type {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    width:250px;
  }
}
