- contentr_title t('.edit_page')

- button_content = [{text: t('.preview'), target: @page.preview_path, class: 'btn btn-info', link_to_options: { target: '_blank'}}]
- contentr_buttons(button_content)


= render 'form'
