- bsat_page_title t('.pages')
- bsat_page_actions do |action|
  - action.add t('.new_page'), contentr.new_admin_page_path(page_type: params[:page_type].presence), icon: 'plus', link_to_options: { class: 'btn btn-primary' }

= table_for Contentr::Page, paginate: true, counter_position: :bottom
