- if data_description.type == 'text'
  = form.simple_fields_for data_description.name.to_sym do |df|
    = df.input :value, :as => :text, :label => data_description.label, :input_html => {:value => @page.data.get(data_description.name).try(:value)}, :hint => data_description.description