.grid_3.sidebar
  %h3= MmCms.site_name
  %div.page-tree
    %ul
      %li
        %a{:href => '#'} Item 1
      %li
        %a{:href => '#'} Item 2
        %ul
          %li
            %a{:href => '#'} Item 1
          %li
            %a{:href => '#'} Item 2
          %li
            %a{:href => '#'} Item 3
      %li
        %a{:href => '#'} Item 3


.grid_9.content
  CONTENT