@import "compass/utilities";
@import "compass/css3";

@mixin contentr-button(
  $text-color,
  $start-color,
  $end-color
) {
  // ---------------------------------------------------------------------------
  // basics
  // ---------------------------------------------------------------------------
  @include nested-reset();
  @include inline-block();
  @include border-radius(4px);
  @include single-transition(all, 0.1s, linear);

  @include background-image(
    linear-gradient($start-color, $start-color 25%, $end-color)
  );
  background-color: $end-color;
  @if lightness($text-color) < 50% {
    @include text-shadow(rgba(#fff, .75) 0 1px 1px);
  } @else {
    @include text-shadow(rgba(#000, .25) 0 -1px 0);
  }
  @include box-shadow(
    rgba(#fff, .2) 0 1px 0 inset,
    rgba(#000, .05) 0 1px 2px
  );
  border: 1px solid darken($end-color, 5%);
  border-bottom-color: darken($end-color, 15%);

  cursor: pointer;
  vertical-align: baseline;
  font-size: 11px;
  line-height: normal; // we need to use padding alone, because FF limit line-height by default
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 5px 14px;
  &::-moz-focus-inner { border: 0; padding: 0; } // Help Firefox not be a jerk about adding extra padding to buttons
  margin: 0;
  background-repeat: no-repeat;
  text-decoration: none;
  color: $text-color;

  // ---------------------------------------------------------------------------
  // states
  // ---------------------------------------------------------------------------
  &:focus {
    outline: 1px dotted #666;
  }

  &:hover {
    text-decoration: none;
    background-position: 0 -15px;
  };

  &:active {
    @include box-shadow(
      rgba(#000, .25) 0 2px 4px inset,
      rgba(#000, .05) 0 1px 2px
    );
  }
}

div.menu-only-box{
  text-align: center;
  width: 120px;
  border-radius: 5px;
  margin-left: 360px;
  margin-top: 20px;
  height: 25px;
}

@import 'contentr/frontend-editing';
@import 'contentr/overlay';


