.contentr-fe {}

.contentr-fe.toolbar { background-color: #ccc; padding: 8px; }

.contentr-fe.area { border: 1px solid black; padding: 4px; }
.contentr-fe.area .contentr-fe.paragraph { border: 1px solid red; margin: 4px 0; }
