- contentr_title 'Navigation'
ul.main-tree data-reorder-path=contentr.reorder_admin_nav_points_path
  - @nav_tree.keys.each do |nt|
    li data-id=nt.id
      = create_nav_point_title_and_buttons(nt)
      = show_subtree(@nav_tree[nt]).join('').html_safe
- contentr_buttons([{text: t('.new'), target: contentr.new_admin_nav_point_path, icon: 'plus-circle', class: 'btn btn-primary'}])

javascript:
  $('ul.main-tree').sortable({
    onDrop: function ($item, container, _super, event) {
      var ids = $item.parent().children().map(function(){ return $(this).data('id');}).toArray().join(',');
      $.ajax({
        type: 'PATCH',
        data: {
          ids: ids,
          item: $item.data('id'),
          parent: $item.parent().parent().data('id')
        },
        url: $('.main-tree').data('reorderPath')
      });
      _super($item);
    }
  });
