.grid_3.sidebar
  %h3 Dashboard
  %ul
    %li
      %a{ :href => '#'} Subitem
    %li.selected
      %a{ :href => '#'} Subitem
    %li
      %a{ :href => '#'} Subitem

.grid_9.content
  Dashboard RIGHT