<!DOCTYPE html>
<html>
<head>
  <title>CMS Demo: {{page.name}}</title>
  <style>
    .active { font-weight: bold; }
  </style>
</head>
<body>
  <h1>Hello Layout</h1>
  {{content_for_layout}}


  <h2>Subpages</h2>
  <div id="navigation">
    <ul>
      {% nav %}
        <li>
          <a href="{{page.url}}" {% current_page %}class="active"{% endcurrent_page %}>{{page.name}}</a>
          {% if page.has_children %}
            <ul>
              {% nav for page %}
                <li>
                  <a href="{{page.url}}">{{page.name}}</a>
                  {% if page.has_children %}
                    <ul>
                      {% nav for page %}
                        <li>
                          <a href="{{page.url}}">{{page.name}}</a>
                        </li>
                      {% endnav %}
                    </ul>
                  {% endif %}
                </li>
              {% endnav %}
            </ul>
          {% endif %}
        </li>
      {% endnav %}
    </ul>
  </div>
</body>
</html>