<!DOCTYPE html>
<html>
<head>
  <title>Contentr Admin</title>
  <%= stylesheet_link_tag    "contentr_admin" %>
  <%= javascript_include_tag "contentr_admin" %>
  <%= csrf_meta_tags %>
</head>
<body>

<h1>Contentr Admin</h1>

<%= yield %>

</body>
</html>